@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply block object-cover w-full h-full;
  }

  .Container {
    @apply px-5 py-10 md:py-16 lg:py-24 md:px-10 lg:px-16;
  }

  .ContainerX {
    @apply px-5 md:px-10 lg:px-16;
  }

  .titleHighlight {
    @apply text-3xl font-semibold text-primary;
  }

  .titleSection {
    @apply text-2xl font-semibold;
  }

  .titleContent {
    @apply text-xl font-semibold;
  }
  :root {
    --radius: 0.5rem;
  }
}

* {
  scrollbar-width: none !important;
}

/* carousel home */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background: #23435c !important;
}

.swiper-home .swiper-button-prev,
.swiper-home .swiper-button-next {
  color: black !important;
}
/* end carousel home */
